html
  head
    title= title
    link(rel="stylesheet" href="../css/base.css")
  body
    h3
      = "Goto: "
      a(href="../") Users
    h2= "Contact Attributes Updated!"
    br
    a(href="../updateAttributes") #{"Back"}